*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.menu-icon{
    display: flex;
    width: 100%;
    margin: 20px;
    padding: 5px;
    height: 50px;
}

.b1, .bar2, .b3{
    width: 35px;
    height: 5px;
    pad: 5px;
    margin: 0 0 5px;
    background-color: #fff;
}

nav{
    padding: 20px;
    width: 100%;
}
nav ul li{
    color: #fff;
    list-style: none;
    display: block;
}
.show{}
